@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f4f4f5;
  --swiper-navigation-color: #fff;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
}

[data-theme="dark"] {
  --background-color: #000;
}

html {
  background: var(--background-color);
}

.swiper-pagination-bullet-active {
  background: #fff;
  width: 54px;
  height: 54px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.rotate-animation {
  animation: rotate 0.2s forwards ease-in-out;
}

@keyframes rotate {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
